* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #1A0B2E;
    font-family: "Inter", sans-serif;
}
/* } Navbar Design*/
.navbar {
    max-width: 1600px;
    padding: 24px 200px;
    border-bottom: 1px solid rgba(67, 37, 103, 1);
    margin: 0 auto;
    
}

.nav-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

/* Logo With animation */
.logo-container {
    background-size: 300% 300%;
    background-position: left center;
    transition:   6s linear 0.5s, background-color 6s ease-in 0.5s;
    cursor: pointer;
}
.logo {
    font-size: 36px;
    font-weight: 700;
    color: #FFFFFF;
    line-height: 1;
    text-align: center;
}

.logo span {
    background: linear-gradient( rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.logo-container:hover {
    background-position: right center;
    transform: scale(1.5);
}

     /* Menu */
.menu {
    display: flex;
    justify-content: space-between;
    gap: 32px; 
}
.hamburger {
    display: none;
    width: 24px;
    color: #FFFFFF;
    cursor: pointer;
}

.menu li a {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    
}
    /* button */    
.Subscribe-btn {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 12px 16px 12px 16px;
    border-radius: 10000px;
    border: none;
    cursor: pointer;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    background: linear-gradient(47deg,
      rgb(247, 233, 63, 1),
      rgba(251, 9, 180, 1),
      rgba(145, 0, 248, 1));

      /* animation setup */
    background-size: 200% 200%;
    background-position: left center;

    transition:
      background-position 0.9s ease-in-out,
      transform 0.6s ease;
}

.Subscribe-btn:hover {
    background-position: right center;
    transform: scale(1.06);
}
/* Banner section */
.banner {
    width: 100%;
}

.banner-container {
    max-width: 1600px;
    margin: 0 auto;
    position: relative;
}

/* Background image */
.banner-image {
   position: relative;
}

.banner-image .bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}


.circle {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  height: 350px;
}

.circle img {
  width: 100%;
  height: 100%;
}

.circle .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  height: auto;
}

/* Badge */
.new-badge {
   position: absolute;
   top: 10px;
   right: 30px;
   z-index: 5;

}

.badge {
  background: #00FF88;
  color: #1A0B2E;
  font-size: 18px;
  font-weight: 600;
  padding: 8px 16px;
  border-radius: 1000px;
  border: none;
  cursor: pointer;
}

/* Banner Content */
.banner-content {
  position: absolute;
  top: 62%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 100%;
}

.banner-content h1 {
  color: #FFFFFF;
  font-size: 60px;
  font-weight: 800;
  margin-bottom: 8px;
}

.banner-text {
  font-size: 16px;
  color: #FFFFFF;
  margin-bottom: 24px;
}

/* Buttons */
.banner-actions {
  display: flex;
  justify-content: center;
  gap: 8px;
  flex-wrap: wrap;
}

.btn-primary {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 12px 16px;
  border-radius: 10000px;
  border: none;
  cursor: pointer;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 600;
  background: linear-gradient(
    47deg,
    rgb(247, 233, 63),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)
  );
}

.btn-secondary {
  display: flex;
  align-items: center;
  gap: 6px;
  color: #00FF88;
  border-radius: 10000px;
  font-size: 16px;
  font-weight: 600;
  padding: 8px 16px;
  border: 2px solid #00FF88;
  background-color: #1A0B2E;
  cursor: pointer;
}
