* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #1A0B2E;
    font-family: "Inter", sans-serif;
}
/* } Navbar Design*/
.navbar {
    max-width: 1600px;
    padding: 24px 200px;
    border-bottom: 1px solid rgba(67, 37, 103, 1);
    margin: 0 auto;
    
}

.nav-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

/* Logo With animation */
.logo-container {
    background-size: 300% 300%;
    background-position: left center;
    transition:   6s linear 0.5s, background-color 6s ease-in 0.5s;
    cursor: pointer;
}
.logo {
    font-size: 36px;
    font-weight: 700;
    color: #FFFFFF;
    line-height: 1;
    text-align: center;
}

.logo span {
    background: linear-gradient( rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.logo-container:hover {
    background-position: right center;
    transform: scale(1.5);
}

     /* Menu */
.menu {
    display: flex;
    justify-content: space-between;
    gap: 32px; 
}
.hamburger {
    display: none;
    width: 24px;
    color: #FFFFFF;
    cursor: pointer;
}

.menu li a {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    
}
    /* button */    
.Subscribe-btn {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 12px 16px 12px 16px;
    border-radius: 10000px;
    border: none;
    cursor: pointer;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    background: linear-gradient(47deg,
      rgb(247, 233, 63, 1),
      rgba(251, 9, 180, 1),
      rgba(145, 0, 248, 1));

      /* animation setup */
    background-size: 200% 200%;
    background-position: left center;

    transition:
      background-position 0.9s ease-in-out,
      transform 0.6s ease;
}

.Subscribe-btn:hover {
    background-position: right center;
    transform: scale(1.06);
} 

 

    


 
