* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #1A0B2E;
    font-family: "Inter", sans-serif;
}
/* } Navbar Design*/
.navbar {
    max-width: 1600px;
    padding: 24px 200px;
    border-bottom: 1px solid rgba(67, 37, 103, 1);
    margin: 0 auto;
    
}

.nav-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

/* Logo With animation */
.logo-container {
    background-size: 300% 300%;
    background-position: left center;
    transition:   6s linear 0.5s, background-color 6s ease-in 0.5s;
    cursor: pointer;
}
.logo {
    font-size: 36px;
    font-weight: 700;
    color: #FFFFFF;
    line-height: 1;
    text-align: center;
}

.logo span {
    background: linear-gradient( rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.logo-container:hover {
    background-position: right center;
    transform: scale(1.5);
}

     /* Menu */
.menu {
    display: flex;
    justify-content: space-between;
    gap: 32px; 
}
.hamburger {
    display: none;
    width: 24px;
    color: #FFFFFF;
    cursor: pointer;
}

.menu li a {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    
}
    /* button */    
.Subscribe-btn {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 12px 16px 12px 16px;
    border-radius: 10000px;
    border: none;
    cursor: pointer;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    background: linear-gradient(47deg,
      rgb(247, 233, 63, 1),
      rgba(251, 9, 180, 1),
      rgba(145, 0, 248, 1));

      /* animation setup */
    background-size: 200% 200%;
    background-position: left center;

    transition:
      background-position 0.9s ease-in-out,
      transform 0.6s ease;
}

.Subscribe-btn:hover {
    background-position: right center;
    transform: scale(1.06);
}
/* Banner section */
.banner {
    width: 100%;
}

.banner-container {
    max-width: 1600px;
    margin: 0 auto;
    position: relative;
}

/* Background image */
.banner-image {
   position: relative;
}

.banner-image .bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}


.circle {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  height: 350px;
}

.circle img {
  width: 100%;
  height: 100%;
}

.circle .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  height: auto;
}

/* Badge */
.new-badge {
   position: absolute;
   top: 10px;
   right: 30px;
   z-index: 5;

}

.badge {
  background: #00FF88;
  color: #1A0B2E;
  font-size: 18px;
  font-weight: 600;
  padding: 8px 16px;
  border-radius: 1000px;
  border: none;
  cursor: pointer;
}

/* Banner Content */
.banner-content {
  position: absolute;
  top: 62%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 100%;
}

.banner-content h1 {
  color: #FFFFFF;
  font-size: 60px;
  font-weight: 800;
  margin-bottom: 8px;
}

.banner-text {
  font-size: 16px;
  color: #FFFFFF;
  margin-bottom: 24px;
}

/* Buttons */
.banner-actions {
  display: flex;
  justify-content: center;
  gap: 8px;
  flex-wrap: wrap;
}

.btn-primary {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 12px 16px;
  border-radius: 10000px;
  border: none;
  cursor: pointer;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 600;
  background: linear-gradient(
    47deg,
    rgb(247, 233, 63),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)
  );
}

.btn-secondary {
  display: flex;
  align-items: center;
  gap: 6px;
  color: #00FF88;
  border-radius: 10000px;
  font-size: 16px;
  font-weight: 600;
  padding: 8px 16px;
  border: 2px solid #00FF88;
  background-color: #1A0B2E;
  cursor: pointer;
}

/* About Section */

.about-container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 100px 20px;
    
}
.about-content {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    color: #FFFFFF;
    
}
.about-container h2 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 16px;
    
}
.about-container p {
    font-size: 16px;
    max-width: 1200px;
    margin-bottom: 60px;
    line-height: 1.7;
    
}
.stats {
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
    margin: 0 auto;
  
    
}
.stat {
    
    padding: 32px 24px;
    text-align: center;
    color: #00FF88; 
}
.stat strong {
    display: block;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 8px;
    
}
.stat span {
    font-size: 16px;
    color: #FFFFFF

}
/* Why Choose Section  */
.choose-section {
    padding: 100px 20px;
    background-color: #230E3D;
   
    
}

.choose-container {
    max-width: 1200px;
    margin: 0 auto;
    
}
.choose-title {
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 40px;
    
}
/* Grid Layout */
.choose-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    gap: 24px;
}
.choose-card:nth-child(1) {
    grid-row: span 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.choose-card:nth-child(2),
.choose-card:nth-child(3),
.choose-card:nth-child(4) {
    grid-column: span 2;
}
/* Card */
.choose-card {
    background: rgba(53, 17, 101, 0.4);
    padding: 40px;
    border-radius: 40px;
    transition: all 0.3s ease;
    
}

.choose-card:hover {
    transform: translateY(-8px);
    background: #1a1a25;
}


.choose-icon {
    width: 60px;
    margin-top: 20px;
    
}


.choose-card h3 {
    font-size: 24px;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 16px;
    margin-top: 30px;
}


.choose-card p {
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    margin: 0 auto;
    
}
.episodes-container {

  max-width: 1200PX;
  margin: 0 auto;  
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding: 0;
  
}
.featured-heading {
    margin: 0 auto;
    color: #FFFFFF;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    margin-top: 80px;
    margin-bottom: 40px;

}
.episode-card {
  background: #250D44;
  border-radius: 24px;
  margin: 0;
  width: 100%;
  transition: transform 0.3s;
  max-width: 350px;
  
}
.episode-card:hover {
  transform: translateY(-5px);
}

/* YouTube Video Embed */
.video-container {
  position: relative;
  padding-bottom: 56.25%; 
  height: 0;
  overflow: hidden;
  border-radius: 24px;
  
}

.video-container iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  /* border: none;
  display: block; */
  inset: 0;
}

.episode-info {
  margin-top: 15px;
  background-color: #250D44;
  color: #FFFFFF;
  padding: 20px 24px;
  text-align: left;
  border-radius: 24px;
}
.episode-info h3 {
  margin: 10px 0 5px;
  font-size: 24PX;
  font-weight: 700;
  
}
.episode-info p {
  font-size: 16PX;
  line-height: 24PX;
 
}
.duration {
  display: inline-block;
  margin-top: 12px;
  color: #4cd137;
  font-size: 16PX;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 8px;
 
}
/* Meet The Host */
.meet-host {
  max-width: 1200px;
  margin: 0 auto;
  /* padding: 60px 20px; */
  text-align: center;
 
}
.host-content {
  font-size: 42px;
  font-weight: 600;
  margin-bottom: 40px;
  color: #FFFFFF;
  margin-top: 60px;
  
}
.host-card {
  display: flex;
  gap: 30px;
  /* max-width: 1200px; */
  margin: 0 auto;
  align-items: center;
  flex-wrap: wrap;
  background: rgba(53, 17, 101, 0.4);
  border-radius: 24px;
  padding: 20px;
  
}
.host-card img {
  width: 200px;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
}
.host-card .host-info {
    flex: 1;
}
.host-info {
  font-size: 32pxpx;
  color: #FFFFFF;
  font-weight: 700;
  margin-bottom: 15px;
  text-align: left;

}

.host-info p {
  font-size: 16px;
  color: #ccc;
  line-height: 1.5;
  margin-bottom: 16px;
  margin-top: 16px;
}
.social-links a {
  width: 40px;
  height: 40px;
  background: #1A0B2E;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
  border: 1px solid rgba(83, 60, 114, 1);
  
}
.social-links a img {
  width: 20px;
  height: 20px;
  object-fit: contain;
}
/* Footer */
.site-footer {
  position: relative;
  width: 1600px;
  overflow: hidden;
  margin: 0 auto;
  margin-top: 120px;
}

.footer-bg {
  position: relative;
  width: 100%;
}

.footer-bg img {
  width: 100%;
  display: block;
}
.footer-container {
    background-size: 300% 300%;
    background-position: left center;
    transition:   6s linear 0.5s, background-color 6s ease-in 0.5s;
    cursor: pointer;
}
.footer-content {
    position: absolute;
    font-size: 48px;
    font-weight: 700;
    color: #FFFFFF;
    line-height: 1;
    text-align: center;
    top: 24%;
    left: 40%;


}
.footer-heading span {
     background: linear-gradient( rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.logo-container:hover {
    background-position: right center;
    transform: scale(1.5);
}
    
.site-footer h2 span {
  color: #ff4f81;
}
.social-footer a {
  margin: 0 10px;
  color: #fff;
  text-decoration: none;
}
.site-footer p {
  margin-top: 20px;
  color: #888;
  font-size: 0.9em;
}
.social-footer {
  display: flex;
  gap: 30px;
  font-size: 18px;
  color: #fff;
}

.footer-overlay p {
  font-size: 14px;
  color: #bdbdbd;
  margin-top: 10px;
}



